*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    transition: 0.4s;
}
body{
    background-color: #242424;
    height: 100vh;
    width: 90%;
    margin: auto;
}
nav{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: #fff;
    font-size: 35px;
    font-weight: 700;
}
 .logo span{
    color: #4bffa5;
}
.nav-links a{
    color: #fff;
    font-size: 18px;
    margin-left: 25px;
    text-transform: capitalize;
}
.nav-links a:hover,
.nav-links a.active{
    color: #4bffa5;
}

.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content .div-text h4{
    color: #fff;
    font-size: 35px;
    letter-spacing: 2px;
}
 .content .div-text h1{
    color: #fff;
    font-size: 60px;
    margin: 25px 0 10px;
}
.content .div-text span{
    color: #4bffa5;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1.5;
}
 .content .div-text .social-link{
    margin-top: 20px;
    margin-bottom: 50px;
}
 .content .div-text .social-link a i{
    width: 45px;
    height: 45px;
    background-color: #242424;
    border: 2px solid #4bffa5;
    color: #4bffa5;
    text-align: center;
    line-height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    font-weight: 600;
}
 .content .div-text .social-link a i:hover{
    color: #242424;
    background-color: #4bffa5;
    box-shadow: 0 0 10px #4bffa5;
}
.content .div-text .btn{

    background-color: #242424;
    border: 2px solid #4bffa5;
    color: #4bffa5;
    text-align: center;
    border-radius: 10%;
    font-weight: 600;
}
 .content .div-text .btn:hover{
    color: #242424;
    background-color: #4bffa5;
    box-shadow: 0 0 10px #4bffa5;
}





.content .div-img{
    width: 50%;
}
 .content .div-img img{
    width: 100%;
    position: relative;
    animation: img-portfile 8s ease-in-out infinite;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
}
@keyframes img-portfile{
    0%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}