    /* From Uiverse.io by vinodjangid07 */ 

    :root{
      --body-color: #fff;
      --dark-color: #222831;
      --text-color: #1976D2;
      --dark-red: #d01418;
      --border-color: #6666662a;
      --name-item: #64B5F6;
    }
    .list{
      background-color: var(--name-item)
    }
  .InputContainer {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--body-color);
      border-radius: 10px;
      overflow: hidden;
      cursor: pointer;
      padding-left: 15px;
      box-shadow: 2px 2px 10px var(--border-color);
    }
    
    .input {
      width: 300px;
      height: 100%;
      border: none;
      outline: none;
      font-size: 0.9em;
      border-radius: 40px;
      caret-color: var(--text-color);

    }
    .input1 {
      width: 150px;
      height: 100%;
      border: none;
      outline: none;
      font-size: 0.9em;
      border-radius: 40px;
      caret-color: var(--text-color);

    }
  
  
    .labelforsearch {
      cursor: text;
      padding: 0px 12px;
    }
    
    .searchIcon {
      width: 13px;
    }
    
    .border {
      height: 40%;
      width: 1.3px;
      background-color: var(--body-color);
    }
    
    .micIcon {
      width: 12px;
    }
    
    .micButton {
      padding: 0px 15px 0px 12px;
      border: none;
      background-color: transparent;
      height: 40px;
      cursor: pointer;
      transition-duration: .3s;
    }
    
    .searchIcon path {
      fill: rgb(114, 114, 114);
    }
    
    .micIcon path {
      fill: var(--text-color);
    }
    
    .micButton:hover {
      background-color: var(--body-color);
      transition-duration: .3s;
    }
    @media (min-width:50px){
        .haddin{
            display: none;
        }
        .hid{
            display: flex;
        }

        .fimo {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          align-items: center;
          align-content: center;
          flex-direction: column;
         }
         .card1 {
          --bg-card: #0091ff;
          --primary: #289bd9;
          --primary-800: #1d4795;
          --primary-shadow: #103c65;
          --light: #d9d9d9;
          --zinc-800: #154ca5;
          --bg-linear: linear-gradient(0deg, var(--primary) 50%, var(--light) 125%);
        
          position: relative;
        
          display: flex;
          flex-direction: column;
          text-align: center;
          gap: 0.95rem;
        
          padding: 1rem;
          width: 20rem;
          background-color: var(--bg-card);
        
          border-radius: 1rem;
           
          margin: 10px 10px 0 0 ;
        }
    }
    @media (min-width:680px){
        .haddin{
            display: flex;
        }
        .hid{
            display: none;
        }

        .fimo{
          display: flex
          ;
                  justify-content: space-evenly;
                  align-items: baseline;
                  flex-wrap: nowrap;
                  flex-direction: row-reverse;
   
         }
         .card1 {
          --bg-card: #0091ff;
          --primary: #289bd9;
          --primary-800: #1d4795;
          --primary-shadow: #103c65;
          --light: #d9d9d9;
          --zinc-800: #154ca5;
          --bg-linear: linear-gradient(0deg, var(--primary) 50%, var(--light) 125%);
        
          position: relative;
        
          display: flex;
          flex-direction: column;
          gap: 0.75rem;
        
          padding: 1rem;
          width: 45rem;
          background-color: var(--bg-card);
        
          border-radius: 1rem;
           
          margin: 10px 10px 0 0 ;
        }
    }
    .text{
      color: var(--text-color);
      text-align: center;
    }
    h1{
     color: var(--body-color);
     font-weight: bold; 
     font-weight:initial; 
     font-size: 26px;
     border: 3px solid var(--text-color) ; 
     border-radius: 20px 100px;
     font-family: 'Times New Roman', Times, serif;
    }
    li{
        color: #fff;
    }
    a{
      color: #fff;

    }
    .btn:hover{
    color: var(--text-color);
    }
    label{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: flex-start;
      border-radius: 40px;
    }
    .container{
      background-color: #64B5F6;
      width: 80%; 
      height: 100%;
      margin-top:100px;
      color:#fff;   
      border: 3px solid #64B5F6 ; 
      border-radius: 20px 90px;
      text-align: center;
    }
