    /* From Uiverse.io by vinodjangid07 */ 
    :root{
      --body-color: #fff;
      --dark-color: #222831;
      --text-color: #1976D2;
      --dark-red: #1661ac;
      --border-color: #6666662a;
      --name-item: #2ba0ff;
    }
    nav{
      zoom: 0.7;
  }
    .list{
      background-color: var(--name-item)
    }
    .nav-item {
    list-style: none;
    display: flex;      
    gap: 20px;
    padding: 0;
    font-size: 23px;
    font-weight: 500;
    color: #fff;
    }
    .nav-link {
    position: relative;
    padding: 10px;
    cursor: pointer;
    }
    .nav-link::after {
    content: "";    
    position: absolute; 
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background:  #004679; /* لون متدرج */
    transition:width 0.3s ease-in-out;
    }
    .nav-link:hover::after{
    width: 100%;
    }
    .A{
      font-size: 20px;
    }
    .search {
      width: 50px;
      height: 50px;    
      text-align: center;
      border: none;
      outline: none;
      font-size: 0.9em;
      background-color: var(--body-color);
      border-radius: 50px 50px;
      fill:var(--text-color);
  }
  .search:hover{
      box-shadow:0px 0px 25px var(--dark-red); /* تأثير التوهج */
  }
  .labelforsearch:hover{
      box-shadow:0px 0px 20px var(--dark-red); /* تأثير التوهج */
      transform: scale(1.05); 
  }
  .labelforsearch {
      cursor: text;
      padding: 0px 12px;
  }
  .searchIcon {
      width: 13px;    
  }
  .border {
      height: 40%;
      width: 1.3px;
      background-color: var(--dark-red);
  }
  .micIcon {
      width: 12px;
  }
  .micButton {
      padding: 0px 15px 0px 12px;
      border: none;
      background-color: transparent;
      height: 40px;
      cursor: pointer;
      transition-duration: .3s;
  }
  .micButton:hover {
      transition-duration: .3s;
  }

  .input-group {
    align-items: center;
    justify-content: center;
    display: flex !important;
    flex-wrap: nowrap !important;
}
.input3 {
    min-height: 50px;
    width: 350px!important;
    padding: 0 1rem;
    font-size: 15px;
    outline: var(--dark-red);
    border: 2px solid var(--dark-red) ;
    border-radius: 5px ;
    text-align: end;
}
.input3:hover {
    border: 2px solid rgb(93, 157, 253) ;

}
:root {
    --card-height: 300px;
    --card-width: calc(var(--card-height) / 1.5);
}
    @media (min-width:50px){
        .haddin{
            display: none;
        }
        .hid{
            display: flex;
        }

        .fimo {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          align-items: center;
          align-content: center;
          flex-direction: column;
        }
        .card1 {
          --bg-card: #0091ff;
          --primary: #289bd9;
          --primary-800: #1d4795;
          --primary-shadow: #103c65;
          --light: #d9d9d9;
          --zinc-800: #154ca5;
          --bg-linear: linear-gradient(0deg, var(--primary) 50%, var(--light) 125%);
          position: relative;
          display: flex;
          flex-direction: column;
          text-align: center;
          gap: 0.95rem;
          padding: 1rem;
          width: 20rem;
          background-color: var(--bg-card);
          border-radius: 1rem;
          margin: 10px 10px 0 0 ;
        }
    }
    @media (min-width:680px){
        .haddin{
            display: flex;
        }
        .hid{
            display: none;
        }

        .fimo{
          display: flex
          ;
                  justify-content: space-evenly;
                  align-items: baseline;
                  flex-wrap: nowrap;
                  flex-direction: row-reverse;
        }
        .card1 {
          --bg-card: #0091ff;
          --primary: #289bd9;
          --primary-800: #1d4795;
          --primary-shadow: #103c65;
          --light: #d9d9d9;
          --zinc-800: #154ca5;
          --bg-linear: linear-gradient(0deg, var(--primary) 50%, var(--light) 125%);
          position: relative;
          display: flex;
          flex-direction: column;
          gap: 0.75rem;
          padding: 1rem;
          width: 45rem;
          background-color: var(--bg-card);
          border-radius: 1rem;
          margin: 10px 10px 0 0 ;
        }
    }
    .text{
      color: var(--text-color);
      text-align: center;
    }

    h1{
     color: var(--body-color);
     border: 5px solid var(--text-color) ; 
     border-radius: 20px 100px;

  font-size: 30px !important;
  font-family: "Single Day", cursive;
  font-style: normal;
  font-weight: 400 !important;
    }
    li{
        color: #fff;
    }
    a{
      color: #fff;

    }
    .btn:hover{
    color: var(--text-color);
    }
    label{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: flex-start;
      border-radius: 40px;
    }
    .container{
      background-color: #64B5F6;
      width: 80%; 
      height: 100%;
      margin-top:100px;
      color:#fff;   
      border: 3px solid #64B5F6 ; 
      border-radius: 20px 90px;
      text-align: center;
    }
